html{
	font-size: 30px;
	font-family: 'Teko', sans-serif;
	font-style: Regular 400;
	background-color: #000000;
}
body{
	width: 600px;
	padding: 0 20px 20px 20px;
	background-color: #1c1c1c;
	margin: 0 auto;
}
img{
	width: 100%;
}
h1, h2, h3, h4, h5, h6{
	color: red;
	text-align: center;
	font-weight: bold;
	font-size: 50px;
}
h1{
	border: 2px solid black;
	font-size: 60px;
}
.center{
	display: block;
	margin: 0 auto;
}
.collapsible {
	background-color: #c7c7c7;
	color: #000000;
	cursor: pointer;
	padding: 15px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 25px;
}
.activeCollapsible, .collapsible:hover {
	background-color: #a8a8a8;
}
.collapsible:after{
	content: '\02795';
	font-size: 25px;
	color: black;
	float: right;
	margin-left: 5px;
}
.activeCollapsible:after{
	content: "\2796";
}
.collapsibleContent {
	padding: 0 18px;
	overflow: hidden;
	background-color: #545454;
	max-height: 0;
	transition: max-height 0.3s ease-out;
}
.quote{
	color: #e8e8e8;
	font-size: 20px;
	font-style: Light 300;
	font-weight: italic;
}
.pinkText{
	color: #4287f5;
}
.rainbow{
	transition: color 0.5s ease-out;
	--rainbowSpeed: 0.2;
}
.clickSecret:hover{

	content: " ";
}
#fullWindow{
	height: 100%;
}
#fullWindowhtml{
	margin: 0px;
	height: 100%;
	width: 100%;
}
#fullWindowbody{
	margin: 0px;
	min-height: 100%;
	width: 100%;
	padding: 0;
	background-color: #000000;
}
.secretContent{
	display: none;
	margin: 0 auto;
	/*max-height: 0px;*/
}
.secretActive{
	display: block;
	width: 100%;
}
.dogGameSection{
	line-height: 10%
}
#dogGameDesc{
	text-align: center;
}
#id_1{
	color: lime;
	font-size: 40px;
}



/*Game Button!*/


#gamePopupButton{
	display: block;
	margin: 0 auto;
	font-size: 25px;
	padding: 10px;
	font-weight: bold;
}
#gamePopupButton:hover{
	cursor:pointer;
}
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 50%;
	top: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 45%; /* Full width */
	height: 50%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(84,84,84); /* Fallback color */
	background-color: rgba(84,84,84,0.95); /* Black w/ opacity */
}
/* Modal Content/Box */
.modalContent{
	line-height: 80%;
	text-align: center;
	/*background-color: #8f8f8f;*/
	margin: 0; /* 15% from the top and centered */
	padding: 0px;
	/*border: 1px solid #888;*/
	width: 95%; /* Could be more or less, depending on screen size */
	font-size: 60px;
}

.close {
	margin: -7% auto;
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  
}
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
#gameReadyText{
	margin-bottom: 3%;
}
#bigAdventure{
	margin-top: 1%;
	margin-bottom: 5%;
	font-size: 70px;
}
.popupButton{
	font-size: 40px;
}
	
	